<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>SecurePass Analyzer</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="analyzer-page">

<!-- NAVBAR -->

<nav class="navbar">

<div class="logo">SecurePass</div>

<ul class="nav-links">

<li><a href="/">Home</a></li>

<li><a href="/about">About</a></li>

<li><a href="/contact">Contact</a></li>

</ul>

</nav>



<!-- MAIN CONTENT -->

<div class="analyzer-wrapper">

<div class="analyzer-layout">

<!-- MAIN ANALYZER CARD -->

<div class="analyzer-wrapper">

    <!-- LEFT CARD -->

    <div class="analyzer-card">

        <h2>Password Analyzer</h2>

        <form method="POST">

            <div class="input-group">

                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                >

                <button type="submit">
                    Analyze Password
                </button>

            </div>

        </form>


        {% if result %}

        <div class="result-section">

            <p>
                <strong>Length:</strong>
            {{ result.length }}
            </p>
            <p>
<strong>Strength:</strong>

<span class="strength-text 
{{ result.strength|lower|replace(' ', '-') }}">

{{ result.strength }}

</span>

</p>
<p>

<strong>Common Password Check:</strong>

{% if result.is_common %}

<span class="weak-text">
⚠ This password is commonly used and unsafe!
</span>

{% else %}

<span class="strong-text">
✔ This password is not in common password lists.
</span>

{% endif %}

</p>
      <p>
      <strong>Entropy:</strong>
            {{ result.entropy }} bits
      </p>

      <p>
            <strong>MD5:</strong>
            <span class="hash-box">
                  {{ result.md5 }}
            </span>
            </p>

            <p>
            <strong>SHA256:</strong>
            <span class="hash-box">
                  {{ result.sha256 }}
            </span>
            </p>

      </div>

      {% endif %}

</div>



<!-- RIGHT CARD -->

    {% if result %}

    <div class="suggestions-card">

        <h2>Suggestions & Feedback</h2>

        {% if result.suggestions %}

        <ul>

        {% for s in result.suggestions %}

            <li>{{ s }}</li>

        {% endfor %}

        </ul>

        {% else %}

        <p class="success-message">

            ✔ All rules satisfied!  
            Your password follows recommended security rules.

        </p>

        {% endif %}

    </div>

    {% endif %}

</div>
</body>

</html>