<!DOCTYPE html>
<html>
<head>
    <title>SecurePass</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <script defer
        src="{{ url_for('static', filename='script.js') }}">
    </script>
</head>

<body class="landing-page">

<!-- Navbar -->

<nav class="navbar">

<div class="logo">SecurePass</div>

<ul class="nav-links">

<li><a href="/">Home</a></li>

<li><a href="/about">About</a></li>

<li><a href="/contact">Contact</a></li>

</ul>

</nav>


<!-- Hero Section -->

<div class="hero">

<div class="hero-content">

<h1>
Protect Your Passwords  
Before Hackers Find Them
</h1>

<p>
SecurePass analyzes your password strength, detects vulnerabilities,
and helps you build stronger protection against cyber threats.
</p>

<a href="/analyzer" class="get-started-btn">
Analyze Your Password
</a>
</div>

</div>

</body>
</html>